@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-background: #ffffff;
}

[data-theme="dark"] {
  --color-background: oklch(27.8% 0.033 256.848);
}

@layer base {
  body {
    transition:
      background-color 300ms ease,
      color 300ms ease;
  }
}
